name: Unit Test
on:
  workflow_call:
  push:
    branches: [main]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-unit-test
  cancel-in-progress: true
jobs:
  unit-test:
    name: Unit Test
    runs-on: ubuntu-22.04
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        toolchain: [latest, main-snapshot]
    steps:
      - name: Install Swift
        uses: vapor/swiftly-action@v0.2
        with:
          toolchain: ${{ matrix.toolchain }}
        env:
          SWIFTLY_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Checkout
        uses: actions/checkout@v4.2.2
      - name: Resolve Swift dependencies
        run: swift package resolve
      - name: Run Unit Tests
        run: swift test --parallel --enable-code-coverage --enable-all-traits
      - name: Merge code coverage
        run: |
          llvm-cov export -format "lcov" \
            .build/debug/swift-open-featurePackageTests.xctest \
            -ignore-filename-regex="\/Tests\/" \
            -ignore-filename-regex="\/OpenFeatureTestSupport\/" \
            -ignore-filename-regex="\/.build\/" \
            -instr-profile=./.build/debug/codecov/default.profdata \
          > info.lcov
      - name: Upload code coverage report to Codecov
        uses: codecov/codecov-action@v5.4.3
        with:
          files: ./info.lcov
          fail_ci_if_error: true
          token: "${{ secrets.CODECOV_TOKEN }}"
